/* BASE */
html {
  max-width: 100vw;
}

body {
  font-family: sans-serif;
  background-image: radial-gradient(#ece0ec 10%, transparent 0);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

nav {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding: 0.5rem;
  border-radius: $border-radius;
}

nav ul li {
  padding: 0.2rem;
  border-bottom: 3px solid #754575;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 85vw;
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 6px;
  background: #fefefe;
  box-shadow: inset 6px 6px 9px #f1f1f1, inset -6px -6px 9px #ffffff;
  margin-bottom: 2rem;
}

article {
  margin-bottom: 0.5rem;
}

span {}

blockquote {}

img {}
/* LAYOUT */
// color palettes

.color-palettes, .patterns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color-palettes h2 {
  width: 100%;
}

.color-palettes article {
  // min-width: 50vw;
  // max-width: 100%;
}

.color-palettes article .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.color-palettes article,
.patterns article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: calc((#{$baseline} - #{$h3}) + #{$baseline}/2);
  width: 380px;
}

.color-palettes article h3 {
  width: 100%;
  text-align: center;
}

// patterns
.patterns {
}

.patterns h2 {
  width: 100%;
}

.patterns article h3 {
  width: 100%;
  text-align: center;
}

.patterns__dotted-background {
}

.patterns__plaid-background {
}

.patterns__grid-background {
}

/* SIZING */
.color-palettes div {
  min-height: 2rem;
  min-width: 2rem;
}

.patterns div {
  height: 7rem;
  width: 7rem;
}
/* STATE */
/* THEME */
