@import 'reset.css';
@import 'fonts.css';

:root {
  /* Color Theme Swatches in RGBA */
  --violet-1-rgba: rgba(91, 46, 114, 1);
  --violet-2-rgba: rgba(134, 99, 120, 1);
  --violet-3-rgba: rgba(107, 80, 148, 1);
  --violet-4-rgba: rgba(0, 0, 13, 1);
  --violet-5-rgba: rgba(34, 0, 40, 1);
}

/* BASE */
html {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  max-width: 100vw;
}

body {
  font-family: sans-serif;
  background-image: radial-gradient(#ece0ec 10%, transparent 0);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {}

main {}

section {}

article {}

span {}

blockquote {}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {}

p {}

img {}

/* LAYOUT */
.colors {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.color-palette {
  display: flex;
}

/* MODULES, classes and such */
.colors div {
  height: 3rem;
  width: 3rem;
}

.colors:nth-child(1) {
    background-color: var(--violet-1-rgba)
  }

  .colors div:nth-child(2) {
    background-color: var(--violet-2-rgba)
  }

  .colors div:nth-child(3) {
    background-color: var(--violet-3-rgba)
  }

  .colors div:nth-child(4) {
    background-color: var(--violet-4-rgba)
  }

  .colors div:nth-child(5) {
    background-color: var(--violet-5-rgba)
  }
}

/* STATE */
/* THEME */
